body {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  display:flex;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::after {
  content: '🔽';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '🔼';
  display: inline-block;
  margin-left: 1em;
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

.container{
     align-items: center;
     justify-content: center;
     position:absolute;
     top:50%;
     left:50%;
     transform: translate(-50%,-50%);
     overflow-x:auto !important;
     
}
.container caption{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
